<html>
    <head>
        <%- include('head.ejs') %>
        <style>
            .comment_view{
                border-top : 2px solid #eee;
                border-bottom : 2px solid #eee;
            }
            .comment_out{
                border-bottom : 1px solid #eee;
                margin : 10px 0px 10px 0px;
            }
            .com_contents{
                padding : 20px 0px 20px 0px;
                display : flex;
            }
            .update_post{
                cursor : pointer;
                margin-left : 10px;
                color : #7e1526;
            }
            .delete_post{
                cursor : pointer;
                margin-left : 10px;
                color : #7e1526;
            }
        </style>
    </head>
    <body>
        <%- include('header.ejs') %>
        <div class="wrap">
            <div class="container">
                <div class="page-header">
                    <h1><%=article.title%><span style="float : right;">
                    <% if(locals.article.liked == locals.userNo && locals.userNo){ %>
                        <button type="button" class="ctm-btn"
                        onclick = "unlikeDo(<%=article.articleId%>, <%=locals.userNo%>)">추천취소</button>
                    <% } else {%>
                        <button type="button" class="ctm-btn"
                        onclick = "likeDo(<%=article.articleId%>, <%=locals.userNo%>)">추천하기</button>
                    <% } %>
                    <% if(locals.userNo === article.userNo) {%>
                        <button type="button" class="ctm-btn"
                        onclick = "location.href='/board/write/<%=article.articleId%>'">수정하기</button>
                        <button type="button" class="ctm-btn" 
                        onclick="deleteArticle(<%=article.articleId%>)">삭제하기</button>
                    <% } %>
                    </span></h1>
                    <small><%=article.nickName%></small>
                    <small style="margin-left:30px;"><%=article.datetime%></small>
                </div>
                <div class="content" style="min-height : 40vh; border-bottom:1px solid #eee;">
                    <%=article.content%>
                </div>
                <div class="comment_wrap">
                    <div class="comment_write">
                        <h5>댓글 입력하기</h5>
                        <form name="comment_write" method="POST" action="">
                            <div class="comment_input" style="display:flex;">
                                <textarea class=" comment_text" rows="3" id="comment" style="width:90%;"></textarea>
                                <input type="button" class="btn btn-default" value="등록하기"
                                style="width:8%;min-height:5vh;margin-left:2px;" onclick="commentWrite(<%=article.articleId%>)">
                            </div>
                        </form>
                    </div>
                    <div class="comment_view" id="comment_view">
                        
                    </div>
                </div>
            </div>  
        </div>
    </body>
</html>
<script>
    $(document).ready(function(){
        commentRead(<%=article.articleId%>) // 댓글리스트 가져오기
        $(".hide").hide() // 댓글 수정 textarea 숨기기
    })
</script>