<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
        <script src="/js/frontBoard.js"></script>
    </head>
    <body>
        <div class="wrap">
            <div class="container">
                <div class="page-header">
                    <h1><%=article.title%><span style="float : right;">
                        <button type="button" class="btn btn-primary btn-lg"
                        onclick = "location.href='/board/write/<%=article.article_id%>'">수정하기</button>
                    </span></h1>
                    <small><%=article.userName%></small>
                    <small style="margin-left:30px;"><%=article.datetime%></small>
                </div>
                <div class="content">
                    <%=article.content%>
                </div>
            </div>
        </div>
    </body>
</html>