<html>
    <head>
        <%- include('head.ejs') %>
     </head>
    <body>
        <%- include('header.ejs') %>
        <div class="wrap">
            <div class="container">
                <div class="page-header">
                    <h1>글 작성하기<span style="float : right;">  
                        <% if(locals.article){ %>
                            <button type="button" class="btn btn-primary btn-lg" form="w_article"
                            onclick="updateArticle(<%=article.articleId%>)">수정완료</button>
                            <button type="button" class="btn btn-primary btn-lg" 
                            onclick="deleteArticle(<%=article.articleId%>)">삭제하기</button>
                        <% } else { %>
                            <button type="button" class="btn btn-primary btn-lg" form="w_article"
                            onclick = "writeArticle()">작성완료</button>
                        <% } %>
                        
                    </span></h1>
                </div>
                    <form id="w_article" method="post">
                        <div class="form-group">
                            <label for="userName">이름</label>
                            <p><%=nickName%></p>
                            <input type="hidden" id="nickName" value="<%=nickName%>">
                            <input type="hidden" id="userNo" value="<%=userNo%>">
                        </div>
                        <%if(locals.article){ %>
                            <div class="form-group">
                                <label for="title">제목</label>
                                <input type="text" class="form-control" id="title" 
                                placeholder="제목을 입력하세요" value="<%=article.title%>">
                            </div>

                            <div class="form-group">
                                <label for="content">내용</label>
                                <textarea class="form-control" id="content" rows="10"
                                ><%=article.content%></textarea>
                            </div>
                        <% } else { %>
                            <div class="form-group">
                                <label for="title">제목</label>
                                <input type="text" class="form-control" id="title" 
                                placeholder="제목을 입력하세요" value="">
                            </div>
    
                            <div class="form-group">
                                <label for="content">내용</label>
                                <textarea class="form-control" id="content" rows="10"
                                ></textarea>
                            </div>
                        <% } %>
                    </form>
            </div>
        </div>
    </body>
</html>